@import url("https://fonts.googleapis.com/css?family=Russo+One");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
button {
  font-family: "Russo One", sans-serif;
}
